:root {
    /* Colores principales */
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    /* Tonos de Rose */
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}
body {
    background-color: var(--rose-100);
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--rose-900);
    margin: 0px;
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--rose-100);
    padding: 30px 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.menu-item{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    width: 55%;
    margin: 0px;
    
}

.menu-item h1{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
}

.Cart{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    background-color:white;
    border-radius: 10px;
    width: 28%;
    min-height: 50px;
    /* Para que no desaparezca cuando esté vacía */
    padding: 20px;
    overflow: hidden;
    
}

.cart-item-list{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height:auto;
    margin: 0px;
}

.cart-item-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    height: auto;
    margin: 0 20px;
}

.cart-item-card button{
    display: flex;
    justify-content: center;
    background-color: var(--rose-50);
    align-items: center;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--rose-400);
    border-width:2px ;
    cursor: pointer;
    filter: brightness(120%);
    transition: filter 0.3s ease-in-out;
    
    
}

.cart-item-card button:hover{
    
    filter: brightness(100%);
    transition: filter 0.3s ease-in-out;
    transform: scale(1.2);
}

.cart-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.cart-item-info  dd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: var(--rose-500);
}

.cart-item-info dd p{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: var(--rose-500);
}

.cart-item-info dd p span {
    font-weight: bold; ;
    color: var(--red);
}

.cart-item-list-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-item-list-empty img{
    width: 50%;
    height: auto;
    margin: 0px;
    padding: 10px;
}

.Cart h1{
    margin: 0px;
    padding: 20px;
    font-size: 20px;
    align-self: flex-start;
    color: var(--red);
}

.cart-item-list-empty p{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: var(--rose-500);
}

.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.cart-total button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
    height: 45px;
    width: 100%;
    margin: 20px 0px;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 0px;
    font-size: 16px;
    color: var(--rose-900);
}
.total p{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: var(--rose-500);
}


.total h1{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: bold; ;
    color: var(--rose-900);
}

.Carbon-Neutral{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 45px;
    margin: 10px;
    padding: 0px;
    border-radius: 10px; ;
    background-color: var(--rose-100);
    color: var(--rose-500);
}

.Carbon-Neutral p{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.menu-item-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 20px 0px 0px; 
    gap: 20px;
        
}
.menu-item-card{
    position: relative;
    display: flex;
    width:100%;
    height: auto ;
    flex-direction: column;
    border-radius: 10px;
}
.menu-item-card img{
    border-radius: 10px;
    width: 100%; ;
    height: auto;

}
.menu-item-card-img-select  {
    border-radius: 10px;
    width: 100%;
    height: auto;
    border-width: 2px;
    border-style: solid;
    border-color: var(--red);
}

.menu-item-card h3{
padding: 0px;
    margin: 5px;
    margin-left: 0;
    font-size: 13px;
    color: var(--rose-900);
}

.menu-item-card h4 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: var(--red);
}

.menu-item-card p{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    font-size: 16px;
    color: var(--rose-500);
}

.menu-item-card > button{
    background-color: white;
    color: var(--rose-900) ;
    border-color: var(--rose-900); 
    border-width: 1px;
    border-radius: 25px;
    border-style: solid;
    cursor: pointer;
    height:35px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 130px;
}
.menu-item-card > button > img {
    width: 20px;
    height: auto;
}

.quantity-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: var(--red);
    border-radius: 25px;
    border-style: none;
    height: 35px;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 130px;
}

.quantity-controls > button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--rose-50) ;
    border-color: var(--rose-50); 
    border-width: 1px;
    border-radius: 50px;
    border-style: solid;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin : 15px;
    transition: 0.3s;

   
}

.quantity-controls>button:hover {
    transition: 0.3s;
    background-color: var(--rose-50);
    color: var(--red);
}

.quantity-controls > span {
    color: var(--rose-50);
}

hr {
    display: flex ;
    align-items: center;
    justify-content: center ;
    width: 89%;
    border: 0.5px solid var(--rose-300);
}

footer {
   
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
    color: var(--rose-900);
}